@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

.body-bg {
    background-color: #ffffec;

}

.navbar-font {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.sun-event {
    font-family: 'Acme', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(248, 211, 45);
}

.yellow-color {
    color: rgb(248, 211, 45);
}

.main-heading {
    font-family: 'Boogaloo', cursive;
    font-size: 45px;
    font-weight: 100;
}

.f-25px {
    font-size: 25px!important;
}

.banner-desc {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.main-desc {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.sub-desc {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.hint-text {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: rgb(158, 158, 158);
    text-align: left;
}

.se-border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}

.gpay-icon {
    max-width: 65px;
    max-height: 55px;
}

.md-form {
    position: relative;
    margin-top: 0rem!important;
    margin-bottom: 0rem!important;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.footer-bg {
    background-color: #f5da5f;
}

.ScrollToTop {
    text-decoration: none;
    position: fixed;
    outline: none;
    bottom: 10px;
    right: 10px;
}


@media (max-width: 430px) {
 .carousel-img-h {
     height: 250px;
 }
 .border-margin {
    margin-left: 6rem;
    margin-right: 6rem;
 }
}

@media (min-width: 767px) {
    .border-margin {
       margin-left: 16rem;
       margin-right: 16rem;
    }
}

@media (min-width: 1023px) {
    .border-margin {
       margin-left: 23.5rem;
       margin-right: 23.5rem;
    }
}

@media (min-width: 1300px) {
    .border-margin {
       margin-left: 29rem;
       margin-right: 29rem;
    }
}
